html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color:	rgb(7, 7, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 12%;
}

.name {
    padding: 0;
    margin: 0;
}

.profile-img { 
    width: 100%; 
    max-width: 200px; 
    border-radius: 50%;
    display: inline-block;
    /* text-align: center;  */
    /* align-items: center; */
    /* margin-top: -50px;
    margin-left: -100px; */
    left : 50%;
   
}
.research {
    background: lightblue;
    color: black;
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 300px;
    left: 60px;
    
}
.candles {
    background: lightblue;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 150px;
    right: 25px;
}
.Performaces{
    background: lightblue;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 300px;
    left: 150px;
}
.Poems{
    background: lightblue;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 150px;
    left: 25px;      
}
.about {
    background: lightblue;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    bottom: 250px;
    left: 150%; 
}