@import url(fontawesome-all.min.css);

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

html {
  box-sizing: border-box;

  height: 100%;

  margin: 0;

  padding: 0;
}

-,
- :before,
- :after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
    90deg,
    rgba(255, 165, 150, 0.5) 5%,
    rgba(0, 228, 255, 0.35)
  );

  color: #414f57;

  font-family: "Source Sans Pro", Helvetica, sans-serif;

  line-height: 2;

  letter-spacing: 0.2em;
}

header {
  display: flex;

  flex-direction: column;

  background: white;

  margin: 2.5em auto 1em auto;

  padding: 1em 3em;

  cursor: default;

  opacity: 0.95;

  width: 100%;

  /* max-width: 300px; */
}

.logo {
  font-size: 28px;

  margin: auto;

  padding-top: 1em edm;
}

main {
  display: flex;

  flex-direction: column;

  padding: 20px 0;

  width: 100%;

  max-width: 400px;

  margin: auto;

  justify-content: center;
}

section {
  padding: 1em 3em;

  margin: auto 0 1em 0;

  background: #ffffff;

  cursor: default;

  opacity: 0.95;

  width: 100%;

  max-width: 500px;
}

header nav {
  display: flex;

  justify-content: center;
}

header nav ul {
  display: flex;

  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

header nav ul li a {
  font-size: 10pt;

  text-decoration: none;

  padding: 0 20px 0 0;
}

header nav ul li a:link,
a:visited {
  color: gray;
}

header nav ul li a:hover {
  color: rgb(228, 135, 151);
}

header nav ul li:last-child a {
  margin-right: 0;
}

@media all and (min-width: 600px) {
  header {
    justify-content: space-between;

    padding: 0 30px;

    display: flex;
  }

  header h1 {
    margin: 14px 0;

    padding-top: 0;
  }

  header nav {
    margin-top: 8px;
  }

  header nav ul li a {
    padding: 0 50px 0 0;
  }

  main {
    width: 100%;

    display: flex;
  }
}

footer ul {
  list-style: none;
}

/* Icons */

footer ul.icons {
  padding: 0;

  text-align: center;
}

footer ul.icons li {
  display: inline-block;

  padding: 0.675em 0.5em;
}

footer ul.icons li a {
  position: relative;

  display: block;

  width: 3.75em;

  height: 3.75em;

  border-radius: 100%;

  border: solid 1px #c8cccf;

  line-height: 3.75em;

  overflow: hidden;

  text-align: center;

  text-indent: 3.75em;

  white-space: nowrap;
}

footer ul.icons li a:before {
  color: #ffffff;

  text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf,
    0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

footer ul.icons li a:hover:before {
  text-shadow: 1.25px 0px 0px #ff7496, -1.25px 0px 0px #ff7496,
    0px 1.25px 0px #ff7496, 0px -1.25px 0px #ff7496;
}

footer ul.icons li a:before {
  position: absolute;

  top: 0;

  left: 0;

  width: inherit;

  height: inherit;

  font-size: 1.85rem;

  line-height: inherit;

  text-align: center;

  text-indent: 0;
}

footer ul.icons li a:hover {
  border-color: #ff7496;
}

ul.services {
  text-align: left;
}

/* Footer */

#footer {
  align-self: flex-end;

  width: 100%;

  padding: 1.5em 0 0 0;

  color: rgba(255, 255, 255, 0.75);

  cursor: default;

  text-align: center;
}

#footer .copyright {
  margin: 0;

  padding: 0;

  font-size: 0.9em;

  list-style: none;
}

#footer .copyright li {
  display: inline-block;

  margin: 0 0 0 0.45em;

  padding: 0 0 0 0.85em;

  border-left: solid 1px rgba(255, 255, 255, 0.5);

  line-height: 1;

  color: black;
}

#footer .copyright li:first-child {
  border-left: 0;
}

/* Wrapper */

form {
  padding-right: 6px;
}

form input,
form textarea {
  width: 100%;

  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

.submit {
  border-radius: 50%;

  width: 60px;

  height: 60px;

  margin: auto;

  background-color: black;

  color: white;

  display: flex;

  align-items: center;

  justify-content: center;
}
